<app-header></app-header><br><br><br><br>


<h1>FORMULARIO DE CREACIÓN USUARIO</h1>

<br>



<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombres y apellidos</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="Nombres y apellidos" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <!-- <div class="col-md-4">
    <label for="validationCustom04" class="form-label">Tipo de identificacion</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option value="1">CC: Cédula de Ciudadanía</option>
      <option value="2">DNI: Documento Nacional de Identidad</option>
      <option value="3">CE: Cédula de Extranjería</option>
      <option value="3">PA: Pasaporte</option>
    </select>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div> -->
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nit</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="Nit" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="validationCustom03" placeholder="Telefono" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Email</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="Email" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Dirección de Residencia</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="Dirección de Residencia" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <!-- <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">State</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div> -->
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>

<br><br><br><br><br><br>
