<br><br>
<h1>Módulo de Creación de Usuarios</h1>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-4 offset-1">
      <div class="card custom" style="width: 280px; height: 270px;" [routerLink]="['/rempleado']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/empleados.png" />
          <h2 class="card-title">CREAR EMPLEADO</h2>
        </div>
      </div>
    </div>
    <div class="col-4 offset-2">
      <div class="card custom" style="width: 285px; height: 270px;" [routerLink]="['/usuario']">
        <div class="card-body">
          <img class="image-card-height" src="../../assets/imagenes/logo_usuario.png" />
          <h2 class="card-title">CREAR USUARIO</h2>
        </div>
      </div>
    </div>

  </div>
</div>

<br><br><br>
<div class="col-4 offset-5">
  <div class="card custom" style="width: 180px; height: 70px;" [routerLink]="['/home']">
    <div class="card-body">
      <h2 class="card-title">VOLVER</h2>
    </div>
  </div>
</div>